<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<!-- Bootstrapの設定 -->
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
		<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
		<title>Login</title>
	</head>
	<body class="text-center" style="padding-top: 30vh;">
		<h1>Login</h1>
		<form method="post" action="/login">
			<!-- エラーメッセージ  -->
			<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
				th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-danger">
				ログインエラーメッセージ
			</p>
			<!-- ヒーローID -->
			<label>ヒーローID</label>
			<input type="text" name="heroId">
			<br>
			<!-- パスワード -->
			<label>パスワード</label>
			<input type="password" name="password">
			<br>
			<!-- ログインボタン -->
			<button class="btn btn-primary" type="submit">ログイン</button>
		</form>
		<br>
		<!-- ユーザー登録画面へのリンク
			タイムリーフを使ってアンカータグを使う場合、th:href属性を使用する
			使い方は、コントローラークラスの@GetMappingアノテーションの引数にシングルクオーテーション内の値を指定する
			ちなみに、アンカータグなので、HTTPリクエストはGETメソッドで送信される -->
		<a th:href="@{'/signup'}">新規登録はこちら</a>
	</body>
</html>